@keyframes infinite-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .infinite-slider {
    animation: infinite-slide 30s infinite linear;
  }
  
  .animation-paused {
    animation-play-state: paused;
  }
  
  .animation-running {
    animation-play-state: running;
  }